{% extends 'base.html.twig' %}

{% block title %}Nouveau scénario{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/create.min.css') }}">
{% endblock %}

{% block body %}
	{% for level, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ level }}">
				{{ message|raw }}
			</div>
		{% endfor %}
	{% endfor %}

	
	<form method="POST" enctype="multipart/form-data" class="container">
		<div class="custom-container">	
			<h1>Création d'un nouveau scénario</h1>

			<div class="form-group">
				<label for="title" class="text-white">Titre du scénario<span class="text-danger">*</span></label>
				<input type="text" name="title" class="form-control text-white" placeholder="Ma nouvelle aventure..." requierd>
				<small class="font-italic text-white">(Maximum 100 caractères)</small>
			</div>
			
			<div class="form-group">
				<div class="form-row">
					<div class="col-6">
						<label for="image" class="text-white">Illustration du scénario</label>
						<input type="file" name="image" class="form-control" accept="image/*">
					</div>
				</div>
			</div>
		
			<div class="pt-5">
				<div class="form-group">
					<label for="resume" class="text-white">Résumé du scénario<span class="requierd">*</span></label>
					<small class="font-italic text-white">(Maximum 1000 caractères)</small>
					<textarea type="text" name="resume" class="form-control text-white" rows="8" requierd></textarea>
				</div>

				<div class="text-center">
					<button type="submit" class="btn btn-primary">Enregistrer</button>
				</div>

				<small class="d-block text-right text-white"><span class="text-danger">*</span> Champs obligatoires</small>
			</div>
		</div>
	</form>


{% endblock %}
