{% extends 'base.html.twig' %}

{% block title %}Jouer{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/lobby.min.css') }}">{% endblock %}

{% block body %}

<p>test</p>

{% endblock %}
