body {
  font-family: 'OrkneyRegular' !important;
}

header {
  height: 76px;
}

header .navbar {
  background-color: #151515de !important;
}

footer {
  height: 100px;
  background-color: #0f0f0f;
}
