body {
  font-family: "OrkneyRegular" !important;
}

header {
  height: 66px;
}

header .navbar {
  background-color: #151515de !important;
}

header .navbar .dropdown-menu {
  top: 53px;
  background-color: #151515;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

header .navbar .dropdown-menu .dropdown-item {
  padding-inline: 8px;
  padding-block: 10px;
}

header .navbar .dropdown-menu a {
  color: #FFFFFF !important;
}

header .navbar .dropdown-menu a:hover {
  background-color: #222222;
}

header .navbar svg {
  stroke: #FFFFFF;
  stroke-width: 5px;
}

footer {
  height: 100px;
  background-color: #0f0f0f;
}
