body {
  background-color: #1e1e1e;
  color: #FFFFFF;
}

body main {
  height: calc(100vh - 66px - 100px);
}

body .svg {
  width: 800px;
  height: 800px;
  -webkit-mask: url("../Logo/MRlogo.svg") no-repeat 50% 50%;
  mask: url("../Logo/MRlogo.svg") no-repeat 50% 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-60%, -45%);
          transform: translate(-60%, -45%);
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #1515158f;
  z-index: -100;
}

body section {
  margin-top: 250px;
  background-color: #151515de;
  border: 1px solid #151515de;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 5px #151515;
          box-shadow: 1px 1px 5px #151515;
  padding: 20px;
}

body section p {
  font-size: 1.2rem;
}

body section p a {
  text-decoration: none;
  color: #ff5100;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body section p a:hover {
  color: #ffa77e;
}

body select {
  color: #FFFFFF !important;
  background-color: #0f0f0fe8 !important;
  border: none !important;
}

body select:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

body .btn {
  margin-top: 5rem;
  background-color: #ff5100 !important;
  border: none !important;
}
