body {
  background-color: #1e1e1e;
  color: #ffffff;
}

body .svg {
  width: 800px;
  height: 800px;
  -webkit-mask: url("../Logo/MRlogo.svg") no-repeat 50% 50%;
  mask: url("../Logo/MRlogo.svg") no-repeat 50% 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-60%, -45%);
          transform: translate(-60%, -45%);
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #1515158f;
  z-index: -100;
}

body input {
  background-color: #151515de !important;
  border: none !important;
}

body button {
  background-color: #ff5100 !important;
  border: none !important;
}
