body {
  background-color: #1e1e1e;
  color: #FFFFFF;
}

body main {
  height: calc(100vh - 66px - 100px);
}

body section {
  background-color: #151515de;
  -webkit-box-shadow: 1px 1px 5px #151515;
          box-shadow: 1px 1px 5px #151515;
  border-radius: 6px;
  padding: none;
  margin: none;
}

body input, body button {
  height: 50px;
  width: 100%;
  padding: 8px;
  background-color: #0f0f0fe8;
  color: #FFFFFF;
  border: none;
}

body input:focus, body button:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

body .dashboard {
  height: 450px;
}

body .info {
  height: 250px;
}

body .discussion {
  height: 550px;
  overflow-y: scroll;
}

body .input {
  margin: 0px !important;
}

body .input input {
  border-bottom-left-radius: 6px;
}

body .input button {
  border-bottom-right-radius: 6px;
  background-color: #151515de;
}

body .roll {
  height: 100px;
  padding: 0px !important;
}

body .roll #roll1 {
  margin: 0px !important;
}

body .roll #roll2 {
  margin: 0px !important;
}

body .roll #input1 {
  border-top-left-radius: 6px;
}

body .roll #input2 {
  border-top-right-radius: 6px;
}

body .roll button {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #151515de;
}
