@import "variables";

body {
    font-family: "OrkneyRegular" !important;
    position: relative;
    padding-bottom: 240px;
    min-height: 100vh;
}

header {
    height: $navbarHeight;
    .navbar {
        background-color: #151515de !important;
        .user {
            border: 1px solid $white;
            border-radius: 6px;
            padding: 5px 10px;
            transition: 0.5s;
            &:hover {
                background-color: $white;
                color: $black !important;
            }
        }
        .log-out {
            &:hover {
                color: $red !important;
            }
        }
        .dropdown-menu {
            top: 53px;
            background-color: $lightgrey;
            border: none;
            padding: 0;
            margin: 0;
            border-radius: 6px;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            .dropdown-item {
                padding-inline: 8px;
                padding-block: 10px;
            }
            a {
                color: $white !important;
                &:hover {
                    background-color: #222222;
                }
            }
        }
        svg{
            stroke: $white;
            stroke-width: 5px;
        }
    }
}

.custom-container {
    background: $input;
    border-radius: 12px;
    padding: 0 16px;
    margin: 4rem 0;

    h1, h2, h3 {
        color: $orange;
        opacity: 0.7;
        text-align: center;
        padding: 2rem 0;
    }

    input, textarea {
        background-color: $lightgrey !important;
        border: none;
    }

    button {
        background-color: $orange !important;
        border: none;
        justify-content: center;
    }
}

.custom-card {
    background-color: $input !important;
    border-radius: 5px;
    max-width: 300px;
    margin: auto;
    box-shadow: 0 1px 4px rgb(0,0,0);
    height: 100%;

    img {
        height: 180px;
        object-fit: cover;
    }

    h5 {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        background-color: #000000d8;
        margin: 0;
        padding: 8px;
    }

    .truncate-text {
        height: 100px;
        overflow: hidden;
    }
}

.text-decoration-hover-none:hover {
    text-decoration: none;
}

footer {
    background-color: #0f0f0f;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 0;

    h6 {
        color: #ffffff;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        font-weight: 600;
    }

    ul {
        li {
            color: #212529 !important;

            a {
                &:hover {
                    color: #212529 !important;
                }
            }
        }
    }

    .socials {
        border-top: 1px solid gray;
        padding-top: 1rem;

        a {
            color: inherit;
            
            i {
                font-size: 1.4rem;
                font-size: 1.4rem;
                margin: 0 5px;
                background: black;
                border-radius: 50%;
                width: 34px;
                display: inline-flex;
                justify-content: center;
                height: 34px;
                align-items: center;
            }

            &:hover {
                cursor: pointer;
                text-decoration: none;
                color: inherit;
            }
        }
    }
}


#query-mobile {
    display: hidden !important;
}

@media screen and (max-width: 576px) {

    // body {
    //     height: 100vh;
    // }
    header, main, footer, .svg {
        display: none;
    }

    #query-mobile {
        display: block;
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100vw;
        background-color: $backgroundColor !important;
        z-index: 1000;
        color: $white;
        &:after {
            content:"Le site n'est pas disponible sur mobile, rejoignez-nous directement depuis votre ordinateur! Team RollMe";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 26px;
            text-align: center;
        }
    }
}