@import 'variables';

body {
    background-color: $backgroundColor;
    form {
        height: calc(100vh - 100px - 76px);
        .contain {
            background: $input;
            border-radius: 12px;
       
            h1 {
                color: $orange;
                opacity: 0.7;
            }

            input, textarea {
                background-color: $lightgrey !important;
                border: none;
            }

            button {
                background-color: $orange !important;
                border: none;
                justify-content: center;
            }
        }
    } 
}

.requierd{
    color: red;
    font-style: italic;
}

