@import 'variables';

body {
    background-color: $backgroundColor;
}

form {

    
    h3 {
        color: $orange;
    }

    .img-render {
        background: $input;
        
        img {
            margin: auto;
            display: block;
            object-fit: contain;
            height: 250px;
        }
    }
}