@import 'variables';

body {
    main{
        height: calc(100vh - #{$navbarHeight} - #{$footerHeight});
    }
    background-color: $backgroundColor;
    color: $white;
    .svg {
        width: 800px;
        height: 800px;
        -webkit-mask: url("../Logo/MRlogo.svg") no-repeat 50% 50%;
        mask: url("../Logo/MRlogo.svg") no-repeat 50% 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-60%, -45%);
        -webkit-mask-size: contain;
        mask-size: contain;
        background-color: #1515158f;
        z-index: -100;
    }
    section {
        margin-top: 250px;
        background-color: #151515de;
        border: 1px solid #151515de;
        border-radius: 6px;
        box-shadow: 1px 1px 5px #151515;
        padding: 20px;
        p {
            font-size: 1.2rem;
            a {
                text-decoration: none;
                color: #ff5100;
                transition: 0.5s;
                &:hover {
                    color: #ffa77e;
                }
            }
        }
    }
    select{
        color: $white !important;
        background-color: $input !important;
        border: none !important;
        &:focus{
            box-shadow: none !important;
        }
    }
    .btn{
        margin-top: 5rem;
        background-color: #ff5100 !important;
        border: none !important;
    }

}
.select2-selection--multiple {
    background-color: $input !important;
    border: none !important;
}
.select2-selection__choice {
    color: $black;
}
.select2-dropdown--below {
    border: none !important;
}
.select2-results__option--selectable {
    background-color: $input !important;
    border-top: 1px solid #46464625;
}