@import 'variables';

body {
    main{
        height: calc(100vh - #{$navbarHeight} - #{$footerHeight});
    }
    background-color: $backgroundColor;
    color: $white;
    .container {
        margin-top: 80px;
    }
    section{
        background-color: #151515de;
        box-shadow: 1px 1px 5px #151515;
        border-radius: 6px;
        padding: 20px;
    }
    .dashboard {
        height: 450px;
    }
    .info {
        margin-top: 30px;
        height: 200px;
    }
    .chat {
        height: 500px;
        position: relative;
        input{
            position: absolute;
            height: 40px;
            width: 100%;
            bottom: 0;
            left: 0;
            padding: 8px;
            background-color: $input;
            color: $white;
            border-radius: 6px;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            border: none;
            &:focus{
                box-shadow: none !important;
            }
        }
    }
    .roll {
        margin-top: 30px;
        height: 150px;
    }
}