@import 'variables';

body {
    main{
        height: calc(100vh - #{$navbarHeight} - #{$footerHeight});
    }
    background-color: $backgroundColor;
    color: $white;
    section{
        background-color: #151515de;
        box-shadow: 1px 1px 5px #151515;
        border-radius: 6px;
        padding: none;
        margin: none;
    }
    input,button{
        height: 50px;
        width: 100%;
        padding: 8px;
        background-color: $input;
        color: $white;
        border: none;
        &:focus{
            box-shadow: none !important;
        }
    }

    .dashboard{
        height: 450px;
        
        
    }
    .info{
        margin-left: 0px !important;
        margin-right: 0px !important;
        height: 250px;

        #button-left-up{
            height: 125px;
            border-top-left-radius: 6px;
            margin: 0px !important;
            padding-left: 22px !important;
            padding-top: 50px !important;
        }
        #button-left-down{
            height: 125px;
            border-bottom-right-radius: 6px;
            margin: 0px !important;
            padding-left: 22px !important;
            padding-top: 50px !important;
        }
        #button-right-up{
            height: 125px;
            border-top-right-radius: 6px;
            margin: 0px !important;
            padding-left: 22px !important;
            padding-top: 50px !important;

        }
        #button-right-down{
            height: 125px;
            border-bottom-left-radius: 6px;
            margin: 0px !important;
            padding-left: 22px !important;
            padding-top: 50px !important;
        }
               
    }
    .discussion{
        height: 550px;
        overflow-y: scroll;
        padding-top: 15px;
        padding-left: 15px;
    }
    .input{
        margin: 0px !important;
        input{
            border-bottom-left-radius: 6px;
        }
        button{
            border-bottom-right-radius: 6px;
            background-color: #151515de;
        }
    }
    .roll{
        height: 100px;
        padding: 0px!important;

        #roll1{
            margin: 0px !important;
        }
        #roll2{
            margin: 0px !important;
        }
        #input1{
            border-top-left-radius: 6px;
        }
        #input2{
            border-top-right-radius: 6px;
        }
        button{
            border-bottom-left-radius:  6px;
            border-bottom-right-radius:  6px;
            background-color: #151515de;
        }
        
        
    }
}