@import "_variables";
body {
    background-color: $backgroundColor;
    color: $white; 
    
    main{
        height: calc(100vh - #{$footerHeight} - #{$navbarHeight});
    }

    .svg {
        width: 800px;
        height: 800px;
        -webkit-mask: url("../Logo/MRlogo.svg") no-repeat 50% 50%;
        mask: url("../Logo/MRlogo.svg") no-repeat 50% 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-60%, -45%);
        -webkit-mask-size: contain;
        mask-size: contain;
        background-color: #1515158f;
        z-index: -100;
    }

    button{
        background-color: $orange !important;
        border: none !important;
        color: $white !important;
    }

    input,textarea{
        background-color: #151515de !important;
        border: none !important;    
        color: $white !important;  
    }

    .form-control[type=number]{
        -webkit-appearance: textfield;
        text-align: center;
      }
}
