{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/chat.css') }}">
{% endblock %}
{% block body %}

{% if app.user == false %}
<div class="mb-3 text-light">
    <span class="text-dark ml-5"> Veuillez vous connecter pour utiliser le chat !</span>
</div>
{% endif %}  
<div class="col-12 my-1">
    <div class="p-2" id="discussion">
    </div>
</div>
<div class="col-12 saisie">
    <div class="input-group">
        <input type="text" class="form-control" id="texte" placeholder="Entrez votre texte">
        <div class="input-group-append">
            <span class="input-group-text" id="valid"><i class="la la-check"></i></span>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}<script type="text/javascript" src="/assets/js/chat.js"></script>{% endblock %}